html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Style for the map container */
#map {
    height: 1000px; /* Set the height of the map */
    /*width: 1000px; */ /* Set the width of the map */
}

.map-wrapper {
    height: 100%; /* Set the height of the map */
    width: 100%;
}

#logo {
    height: 80px;
    margin-right: 20px;
}

#slider-container {
    /*    position: absolute;
    top: 30px;
    left: 10px;*/
    background: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    margin-right: 20px;
}
